<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Benvenuto!</h1>
    <p>Questo sito permette di effettuare le seguenti operazioni:</p>
    <ul>
        <li><a href="/appartamenti">Visualizzare gli appartamenti in vendita in un certo quartiere inserito dall'utente. Visualizzare gli appartamenti in ordine di data</a></li>
        <li><a href="/quartieri">Visualizzare l'elenco dei quartieri presenti nel dataset. Visualizzare l'elenco in ordine alfabetico senza ripetizioni (estrarre tutti i quartieri e poi usare i metodi delle liste/tuple/insiemi/dizionari per eliminare i doppioni)</a></li>
        <li><a href="/prezzo-medio-quartiere">Visualizzare il prezzo medio di una zona di Milano inserita dall'utente</a></li>
        <li><a href="/prezzo-medio-quartieri">Visualizzare il prezzo medio di ogni quartiere di Milano. Ordinare i risultati in ordine decrescente sul prezzo medio</a></li>
    </ul>
</body>
</html>